<!DOCTYPE HTML>
<html>
<head>
    @await Html.PartialAsync("_MetatagsPartial")
    @await Html.PartialAsync("_CssPartial")
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                @await Html.PartialAsync("_HeaderPartial")

                <!-- Banner -->
                @await Html.PartialAsync("_BannerPartial")

                @RenderBody()
            </div>
        </div>

        <!-- Sidebar -->
        @await Html.PartialAsync("_SidebarPartial")

    </div>
    @await Html.PartialAsync("_ScriptsPartial")
</body>
</html>